APP_ENV=local

DB_HOST=mysql
DB_PORT=3306
DB_NAME=campuseats
DB_USER=campuseats
DB_PASS=campuseats

JWT_SECRET=generate-with-php--r-echo-bin2hex-random_bytes-32
JWT_TTL=86400

CORS_ORIGIN=http://localhost:5173
